:root {

    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', cursive;
    overflow: visible;
    color: #E1E1E1;
    background-color: #121212;
    background-attachment: fixed;
    margin: 0 auto;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: var(--accent);
}

h2 {
    font-family: 'Audiowide', cursive;
    color: var(--accent);
}
h3 {
    font-family: 'Audiowide', cursive;
    color: var(--accent);
}

a {
    text-decoration: none;
    color: var(--main-text);
}

a:hover {
    color: var(--accent);
}

a .active {
    color: var(--accent);
}

button.go {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 75%;
    font-family: 'Audiowide', cursive;
    color: var(--main-text);
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--accent);
    padding: 1em 2em;
    border: 4px #cccccc;
    /*background: url('/images/button.png') no-repeat;*/

    cursor: pointer;
}

button {
    font-family: 'Audiowide', cursive;
    color: #E1E1E1;
    border: none;
    background-color: #121212;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0.6em;
    outline: none;
}

footer {
    /*text-align: center;*/
    font-family: 'Open Sans', sans-serif;
    background-color: #212121;
}

/*footer {
position: absolute;
left: 50%;
top: 100%;
transform: translate(-50%, -50%);
}*/
.legal {
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    display: flex;
}

.separator {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

