.glitch {
  font-size: 130px;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.glitch {
  /* previous code */
  &:before, &:after {
    display: block;
    content: '17';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  } &:after {
      color: #f0f;
      z-index: -2;
    } &:before {
        color: #0ff;
        z-index: -1;
      }
}

@keyframes glitch {
  0% {
    transform: translate(0)
  }
  20% {
    transform: translate(-5px, 5px)
  }
  40% {
    transform: translate(-5px, -5px)
  }
  60% {
    transform: translate(5px, 5px)
  }
  80% {
    transform: translate(5px, -5px)
  }
  to {
    transform: translate(0)
  }
}

.glitch {
  /* previous code */
  &:hover {
    &:before {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite
    }
    &:after {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
}

html:not([data-scroll='0']) {

  body {
    padding-top: 3em;
  }

  header {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  }

  menu {
    visibility: visible;
  }

}