.layout-hamburger {
    visibility: collapse;
}

#image-home {
    height: 970px;
    width: 100%;
    object-fit: cover;
}
#image-linux {
    margin: 0;
    height: 975px;
    width: 100%;
}
#button-linux {
    top: 60%;
}

.over-image-intro {
    position: absolute;
    left: 25%;
    transform: translate(-50%, -50%);
    top: 25%;
    font-family: var(--title-font);
}
.over-image-intro p {
    color: black;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.layout-tabs {
    position: fixed;
    display: flex;
    width: 100%;
    text-align: center;
    font-family: var(--title-font);
    background-color: #121212;
}

#layout-fields {
    display: flex;
    margin: 5%;
    width: 90%;
    text-align: center;
    font-family: var(--title-font);
    background-color: #121212;
}

.field {
    position: relative;
    flex: 1;
    margin: 2%;
    display: inline;
    width: 200px;
    /*padding-top: 41%;*/
    box-shadow: 0 4px 8px 0 var(--shadow),
    0 6px 20px 0 var(--shadow-19);
    border: none;
    border-radius: 5px;

    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.field:hover {
    box-shadow: 0 8px 16px 0 var(--accent-shadow),
        /*rgba(225, 225, 225, 0.5)*/ 0 6px 20px 0 var(--shadow-19);

    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.field p {
    position: absolute;
    top: 61%;
    left: 0;
    width: 100%;
    font-size: 2em;
}

.field img {
    object-fit: cover;
    width: 100%;
    height: 80vh;
    border: none;
    border-radius: 5px;
    display: block;
}

.image-vfx {
    object-position: 70% 50%;
}

.image-dev {
    object-position: 30% 50%;
}
.image-game-design {
    object-position: 90% 50%;
}

.field figcaption {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.background {
    height: 100%;
    width: auto;
    position: absolute;
    background-image: url("../images/IMG_20210105_154446.jpg");
    background-color: #121212;
}

.background_image {
    /*background: url(images/IMG_20210105_154446.jpg) no-repeat 50% fixed / cover;*/
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.tab {
    text-transform: uppercase;
}


.tabs {
    /* Text color */
    background-color: transparent;
    /* Remove background color */
    padding: 5%;
}

.desc {
    position: relative;
    /*top: 85%;*/
    /* Text color */
    background-color: transparent;
    /* Remove background color */
}

.bio {
    /*margin: 2%;*/
    background-color: #E1E1E1;
    padding: 0.6em;
    text-align: left;
    color: black;
}

.bio p {
    font-size: 1.1em;
}

.bio article {
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 5%;
    width: 65%;
}

#profil-image {
    width: 25%;
    align-items: flex-end;
    float: right;
    margin: 2%;
}

h1 {
    font-size: 3.5em;
    margin-left: 2em;
}

div.gallery {
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: #212121;
    box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow-19);
    border: none;
    border-radius: 5px;
    /*padding: 3.2em;*/
    /*padding: 13%;*/
    /*background-image: url('../img/tux.png');
    background-size: 100% 100%;*/

    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

div.gallery:hover {
    /*border: 1px solid #777;*/
    box-shadow: 0 8px 16px 0 var(--accent-shadow),
        /*rgba(225, 225, 225, 0.5)*/ 0 6px 20px 0 var(--shadow-19);

    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

div.gallery img {
    width: 100%;
    height: 35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border: none;
    border-radius: 5px;
    padding: 10%;
}

div.gallery p {
    font-size: 4em;
    text-align: center;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #212121;
    color: white;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    height: 30%;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

article.projects {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slider {
    width: 60%;
    height: 75%;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
    display: inline;
}

.image-container {
    width: 180%;
    background-color: pink;
    height: 850px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    display: table-row;
}

.slide {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

/*#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -100%;
}
#slide-3:target ~ .image-container {
  left: -200%;
}*/

.buttons {
    top: -20px;
    position: relative;
    text-align: center;
}

.buttons div {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: brown;
}

#dev {
    padding-top: 2%;
}

#vfx {
    width: 100%;
    /*text-align: center;*/
    margin-top: 5%;
    padding-top: 2%;
}

#game-design {
    margin-top: 5%;
    margin-bottom: 5%;
}

.row {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/*.column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}*/

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
}

#column1 {
    -ms-flex: 65%; /* IE10 */
    flex: 65%;
    max-width: 65%;
    padding: 0 4px;
}
#column2 {
    -ms-flex: 35%; /* IE10 */
    flex: 35%;
    max-width: 35%;
    padding: 0 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.contact {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: flex;
    justify-content: center;
}
.contact p {
}
.contact img {
    height: 120px;
    padding: 1em;
}

.menu {
    top : 0%;
    width: 16%;
    margin-left: 2%;
    margin-top: 5%;
    position: fixed;
    border: var(--accent);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 2em;
}
.menu li {
    padding: 0.3em;
}
.project {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 20%;
    width: 70%;
}
.project p {
    width: 70%;
}
.project img {
    margin-top: 5%;
    float: right;
}
.project #image-site {
    margin: 5%;
    width: 30%; filter: invert(1);
}


.project img.image-desc {
    margin-right: 25%;
}
.project img.image-desc-left {
    position: relative;
    float: left;
    margin: 0 1em 0.5em 0.5em;
    clear: left;
}
.project img.image-desc-none {
    float: none;
    margin: 0.5em;
}
.project a {
    text-decoration: var(--accent) underline;
}
.project div.code {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #323232;
    width: 70%;
}
.project code {
    font-size: 1.1em;
    margin: 0.5em;
    background-color: #323232;

}
.project .soon-available {
    text-align: center;
}
.project h2 {
    font-size: 2.5em;
}

.project #krita {
    width: 10%;
}
.project #gimp {
    width: 10%;
}
.project #image-conky {
    width: 100%;
}

.parts {
    /*text-align: center;*/
}

#bdd-table {
    margin-top: 2%;
    margin-bottom: 2%;
    border-collapse: collapse;
    width: 100%;
}

#bdd-table td, #bdd-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bdd-table tr:nth-child(even){background-color: #212121;}

#bdd-table tr:hover {background-color: #323232;}

#bdd-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--accent);
    color: white;
}

.indent {
    text-indent: 1em;
}

.racine li {
    font-weight: bold;
}
.fichiers li {
    font-weight: normal;
}

.style {
    margin-right: 20%; text-align: end;
}
.style code {
    color: var(--accent); font-size: 2.5em;
}

.step {
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 5%;
    width: 65%;
}

.step p {

}
.step h2 {
    margin: 0.5em;
}

.date {
    font-style: italic;
}

button.go {
    padding: 1em 2em;
    top: 75%;
}
