<article class="project-card box-default">
  card test
  <a href=''>
    <div class='p-thumbnail'>
      <img src="{{@project.thumbnail}}" alt="" role="none">
    </div>
  </a>
  <h4 class='p-title'>{{@project.title}}</h4>
  <p class="p-desc">{{@project.description}}</p>
</article>