/* LAYOUTS */

/*region WRAPPER */
.wrapper-m {
  max-width: 1225px;
  margin: auto;
}

.wrapper-l {
  max-width: 1450px;
  margin: auto;
  padding: 0 1rem;
}

.child-wrapper-l > * {
  max-width: 1450px;
  margin: auto;
  padding: 0 1rem;
}

#skills {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  justify-content: space-evenly;
}

#intro {
  @extend %flex-container;
  flex-direction: row-reverse;
  gap: 3rem;
}

@media screen and (max-width: 1600px) {
  #intro {
    padding: 0 2rem;
    #image-home {
      flex: 1;
      width: 100%;
      height: auto;
    }
    .text-intro {
      flex: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  #skills {
    flex-direction: column;
  }
  .sk-projects {
    /* align-self: flex-start; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    max-width: 600px;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1110px) {
  #intro {
    flex-direction: column-reverse;

    > #image-home {
      display: none;
    }
    .text-intro #image-home {
      flex: 1;
      width: auto;
      display: block;
      margin: 2rem auto auto;
    }
    .text-intro {
      flex: 1;
    }
    h1 {
      margin-top: 0;
      font-size: 3.25em;
    }
    .button {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 475px) {
  #intro .text-intro #image-home {
    flex: 1;
    display: block;
    margin: 2rem auto auto;
    width: 100%;
  }
}
/*endregion WRAPPER */
