<article class="other-item card-thb-desc">
  <a class="box-default" href="{{@other.link}}">
    <div class="p-thumbnail">
      <img src="{{@other.thumbnail}}" alt="" width="100" height="100">
    </div>
    <div class="p-desc">
      <span>{{@other.description}}</span>
    </div>
  </a>

</article>